In [1]:
%load_ext autoreload
%autoreload 2

In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import matplotlib.dates as mdates
import seaborn as sns
from datetime import datetime
import tickbars

In [3]:
raw_data = pd.read_csv('ES_Trades.csv')

In [4]:
raw_data.head()

,Symbol,Date,Time,Price,Volume,Market Flag,Sales Condition,Exclude Record Flag,Unfiltered Price
0,ESU13,09/01/2013,17:00:00.083,1640.25,8,E,0,NaN,1640.25
1,ESU13,09/01/2013,17:00:00.083,1640.25,1,E,0,NaN,1640.25
2,ESU13,09/01/2013,17:00:00.083,1640.25,2,E,0,NaN,1640.25
3,ESU13,09/01/2013,17:00:00.083,1640.25,1,E,0,NaN,1640.25
4,ESU13,09/01/2013,17:00:00.083,1640.25,1,E,0,NaN,1640.25

In [5]:
raw_data.groupby(['Symbol', 'Date'])['Price'].count()

Symbol  Date
ESU13   09/01/2013     13641
        09/02/2013     52680
        09/03/2013    540213
        09/04/2013    387501
        09/05/2013    324763
        09/06/2013    624433
        09/08/2013     11636
        09/09/2013    346178
        09/10/2013    422176
        09/11/2013    362444
        09/12/2013    268528
ESZ13   09/12/2013      4397
        09/13/2013    192431
        09/15/2013     24073
        09/16/2013    348220
        09/17/2013    234859
        09/18/2013    497058
        09/19/2013    394034
        09/20/2013    405685
Name: Price, dtype: int64

In [6]:
ESU13_data = raw_data[raw_data['Symbol'] == 'ESU13'][['Symbol', 'Date', 'Time', 'Volume', 'Unfiltered Price']]
ESU13_data['time'] = ESU13_data['Date'].str.cat(ESU13_data['Time'], sep=' ')
ESU13_data['time'] = pd.to_datetime(ESU13_data['time'], format='%m/%d/%Y %H:%M:%S.%f')
ESU13_data = ESU13_data.rename(columns={'Symbol': 'symbol', 'Volume': 'volume', 'Unfiltered Price': 'price'})
ESU13_data = ESU13_data.drop(columns=['Date', 'Time'])
ESU13_data = ESU13_data.iloc[:,[0,3,2,1]]

In [7]:
ESZ13_data = raw_data[raw_data['Symbol'] == 'ESZ13'][['Symbol', 'Date', 'Time', 'Volume', 'Unfiltered Price']]
ESZ13_data['time'] = ESZ13_data['Date'].str.cat(ESZ13_data['Time'], sep=' ')
ESZ13_data['time'] = pd.to_datetime(ESZ13_data['time'], format='%m/%d/%Y %H:%M:%S.%f')
ESZ13_data = ESZ13_data.rename(columns={'Symbol': 'symbol', 'Volume': 'volume', 'Unfiltered Price': 'price'})
ESZ13_data = ESZ13_data.drop(columns=['Date', 'Time'])
ESZ13_data = ESZ13_data.iloc[:,[0,3,2,1]]

In [8]:
ESU13_data.to_csv('ESU13.csv', index=False)
ESZ13_data.to_csv('ESZ13.csv', index=False)