In [1]:
import pandas as pd

In [2]:
df = pd.DataFrame({
    'x1': ['a', 'a', 'a', 'b', 'b', 'b'],
    'x2': [1 ,2, 3, 4, 5, 6]
})

In [3]:
df

  x1  x2
0  a   1
1  a   2
2  a   3
3  b   4
4  b   5
5  b   6

In [4]:
df['x1'].drop_duplicates()

0    a
3    b
Name: x1, dtype: object

In [5]:
df['x1'].drop_duplicates(keep='first')

0    a
3    b
Name: x1, dtype: object

In [6]:
df['x1'].drop_duplicates(keep='last')

2    a
5    b
Name: x1, dtype: object