In [65]:

df = pd.DataFrame([('bird', 'Falconiformes', 389.0),
                  ('bird', 'Psittaciformes', 24.0),
                  ('mammal', 'Carnivora', 80.2),
                  ('mammal', 'Primates', np.nan),
                  ('mammal', 'Carnivora', 58)],
                #  index=['falcon', 'parrot', 'lion', 'monkey', 'leopard'],
                 columns=('class', 'order', 'max_speed'))

In [66]:
df

    class           order  max_speed
0    bird   Falconiformes      389.0
1    bird  Psittaciformes       24.0
2  mammal       Carnivora       80.2
3  mammal        Primates        NaN
4  mammal       Carnivora       58.0

In [78]:
grp = df.groupby('class', as_index=False)

In [79]:
grp.aggregate(np.sum)

    class  max_speed
0    bird      413.0
1  mammal      138.2

In [80]:
grp = df.groupby('class', as_index=True)

In [81]:
grp.aggregate(np.sum)

        max_speed
class
bird        413.0
mammal      138.2

In [82]:
def inc_speed(df):
    df['inc_speed'] = df['max_speed']*2
    return df

In [83]:
df.groupby('class', as_index=False).apply(inc_speed)

    class           order  max_speed  inc_speed
0    bird   Falconiformes      389.0      778.0
1    bird  Psittaciformes       24.0       48.0
2  mammal       Carnivora       80.2      160.4
3  mammal        Primates        NaN        NaN
4  mammal       Carnivora       58.0      116.0

In [84]:
df.groupby('class', as_index=True).apply(inc_speed)

    class           order  max_speed  inc_speed
0    bird   Falconiformes      389.0      778.0
1    bird  Psittaciformes       24.0       48.0
2  mammal       Carnivora       80.2      160.4
3  mammal        Primates        NaN        NaN
4  mammal       Carnivora       58.0      116.0